{{> head}}

{{> navbar}}

<div class='col-8'>
    <h1>Troopers</h1>
    <p>

    </p>
</div>

<div class="col-4">
    <img src="assets/img/Soldado_Asalto.png" class="img-thumbnail">
</div>

{{> footer}}